
/*generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;

}

.conteiner {
    position: relative;
    width: 90%;
    height: 150px;
    margin: auto;
    background-color: rgba(129, 133, 133, 0.226);
    border-radius: 5px;
    margin-top: 50px;
}

.conteiner-2 {
    position: relative;
    width: 90%;
    height: 350px;
    margin: auto;
    background-color: rgba(129, 133, 133, 0.226);
    border-radius: 5px;
    margin-top: 50px;
}

.conteiner-3 {
    position: relative;
    width: 90%;
    height: 200px;
    margin: auto;
    background-color: rgba(129, 133, 133, 0.226);
    border-radius: 5px;
    margin-top: 50px;
}
/*quadrato-1*/

.quadrato {
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid 1px red;
    margin-top: 25px;
    margin-left: 20px;
    transition: all 2s ease 0s;
}

.quadrato:hover {
    background-color: red;

}

/*quadrato-2*/
.quadrato-2 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: 25px;
    margin-left: 20px;
    transition: all 2s ease 0s;
}

.quadrato-2:active {
    width: 95%;
}

/*quadrato-3*/

.quadrato-3 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: 25px;
    margin-left: 20px;
    transition: all 2s ease 0s;
}

.quadrato-3:hover {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}

/*quadrato-4*/

.quadrato-4 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: 25px;
    margin-left: 20px;
    transition: all 2s ease 0s;
}

.quadrato-4:hover {
    opacity: 0;
    background-color: rgba(129, 133, 133, 0.226);
}

/*quadrato-5*/
.quadrato-5 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    margin-top: 50px;
    margin-left: 30px;
    transition: all 2s ease 0s;
}

.quadrato-5:hover {
    width: 75px;
    height: 75px;
}

.quadrato-5:active {
    width: 25px;
    height: 25px;
}

/*esercizio-6*/

.quadrato-6 img {
    margin-top: 40px;
    margin-left: 20px;
    max-width: 500px;
    max-height: 300px;
}

.quadrato-6 img:hover {
    filter: grayscale(1);
    
}

/*esercizio-7*/
.quadrato-7 img {
    margin-top: 40px;
    margin-left: 20px;
    max-width: 500px;
    max-height: 300px;
    transition: all 2s ease 0s;
}

.quadrato-7 img:hover {
    filter:sepia(1);
    
}

/*esercizio-8*/

.quadrato-8 img {
    margin-top: 40px;
    margin-left: 20px;
    max-width: 500px;
    max-height: 300px;
    transition: all 2s ease 0s;
}

.quadrato-8 img:hover {
    filter:sepia(1);
    border-radius: 20px;
}

/*esercizio-9*/

.quadrato-9 img {
    margin-top: 40px;
    margin-left: 20px;
    max-width: 500px;
    max-height: 300px;
    transition: all 2s ease 0s;
    filter:sepia(0.5)
}

.quadrato-9 img:hover {
    border-radius: 20px;
    max-width: 300px;
    max-height: 200px;
    filter: none;
}

/*esercizio-10*/

.quadrato-10 {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: 20px;
    transition: all 2s linear 0s;

}

.quadrato-10 i {
    font-size: 50px;
    padding: 30px 20px;
    animation: spinner 1s;
    animation-iteration-count: infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*esercizio-11*/

.quadrato-11 {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: 20px;
    transition: all 2s ease-in 0s;

}

.quadrato-11 i {
    font-size: 50px;
    padding: 30px 20px;
}

.spinner-2:hover {
    animation: spinner-2 2s;

}

@keyframes spinner-2 {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(300deg);
    }
}

.rettangolo {
    position: relative;
    width: 300px;
    height: 150px;
    border: solid 2px blue;
    margin-top: 30px;
    margin-left: 20px;
}

.ret-2 {
    position: absolute;
    background-color: rgba(129, 133, 133, 0.226);
    width: 50px;
    height: 30px;
    border: solid 1px black;
    animation:muoviti 10s ease;
}

@keyframes muoviti {
    
    0% {
        left: 0;
        top: 0;
    }

    20% {
        top: 0;
        left: calc(100% -50px);
    }

    40% {
        top: calc(100% -50px);
        left: calc(100% -50px);

    }

    60% {
        top: calc(100% -50px);
        left: 0;
    }

    80% {
        top: 0;
        left: 0;
    }
}
